.sprite { background:url("icons/icons.png") top left no-repeat; }
.pl-logo-large{ width:166px; height:56px; background-position:0 0; }
.add-task:hover{ width:52px; height:52px; background-position:0 -56px; }
.add-task{ width:52px; height:52px; background-position:-52px -56px; }
.login-button{ width:89px; height:36px; background-position:0 -108px; }
.logout:hover{ width:32px; height:32px; background-position:-104px -56px; }
.user-pic-default{ width:32px; height:32px; background-position:-89px -108px; }
.logout{ width:32px; height:32px; background-position:-121px -108px; }
.start-task{ width:32px; height:32px; background-position:0 -144px; }
.start-task:hover{ width:32px; height:32px; background-position:-64px -144px; }
.set-pomodoros{ width:32px; height:32px; background-position:-32px -144px; }
.set-pomodoros:hover{ width:32px; height:32px; background-position:-96px -144px; }
.cancel-task{ width:32px; height:32px; background-position:0 -176px; }
.cancel-task:hover{ width:32px; height:32px; background-position:-128px -144px; }
.pomo-fail{ width:32px; height:32px; background-position:-32px -176px; }
.pomo-done{ width:32px; height:32px; background-position:-64px -176px; }
.pl-logo-small{ width:89px; height:30px; background-position:0 -208px; }
.pomo-small{ width:16px; height:16px; background-position:-136px -56px; }
