.sprite { background:url("icons/icons.png") top left no-repeat; }
.pl-logo-large { width:166px; height:56px; background-position:0 0; }
.add-task-hover { width:52px; height:52px; background-position:0 -56px; }
.add-task { width:52px; height:52px; background-position:-52px -56px; }
.pomo-fail { width:32px; height:32px; background-position:-104px -56px; }
.pomo-hover { width:32px; height:32px; background-position:0 -108px; }
.pomo-done { width:32px; height:32px; background-position:-32px -108px; }
.user-pic-default { width:32px; height:32px; background-position:-96px -108px; }
.logout-hover { width:32px; height:32px; background-position:-64px -108px; }
.logout { width:32px; height:32px; background-position:-128px -108px; }
.start-task { width:32px; height:32px; background-position:0 -140px; }
.set-pomodoros { width:32px; height:32px; background-position:-32px -140px; }
.cancel-task { width:32px; height:32px; background-position:0 -172px; }
.start-task:hover { width:32px; height:32px; background-position:-64px -140px; }
.set-pomodoros:hover { width:32px; height:32px; background-position:-96px -140px; }
.cancel-task:hover { width:32px; height:32px; background-position:-128px -140px; }
.pl-logo-small { width:89px; height:30px; background-position:-32px -172px; }
.pomo-small { width:16px; height:16px; background-position:-136px -56px; }
